 @model CSharpTeacher.Models.Quiz.Quiz1Choice
@if (Model.IsSelected && Model.IsAnswer)
    {

    <div style="background-color:lightgreen">
       @Html.RadioButton("Exam.Questions[" + Model.Question.OrderNumber + "].Choices[0].Id",Model.Id)
        @Model.Text
    </div>

     } else { 

    @Html.RadioButton("Exam.Questions[" + Model.Question.OrderNumber + "].Choices[0].Id",Model.Id)
    @Model.Text


    }



