@model CSharpTeacher.Models.Quiz.Quiz1Question   
 <div class="question">

        @Html.Hidden("Exam.Questions[" + Model.OrderNumber +"].Id",Model.Id)

        <h4>@Model.Text</h4>

        @foreach (var choice in Model.Choices)
        {

        @Html.Partial("__choice",choice); <br />

        }

    </div>


